body {
  background-color: lightblue;
}

.container {
  background-color: blanchedalmond;
  height: 500px;
  width: 300px;
}

div {
  margin: 10px;
  padding: 10px left;
}

* {
  box-sizing: border-box;
}
